@import '../../styles/variables.scss';

.loaderContainer {
  display: flex;
  position: relative;
  flex: 1;
}
.loaderWrap {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: $loader-z-index;
}
.loaderSymbolWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: $header-height;
  left: 0;
  height: calc(100vh - #{$header-height});
  width: 100%;
}