@import '../../../styles/variables.scss';

.font-size-s {
  font-size: 16px;
}

.font-size-m {
  font-size: 20px;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-medium {
  font-weight: 500;
}
